{% extends 'base.html' %}
{% block title %} Listado de Marcas Y Categoria {% endblock %}
{% block content %}
	<div class="container-fluids">
		<div class="row">
			<div class="col-6">
                <h3 class="text-center text-decoration-underline">Listado de Marcas:</h3>
                <table class="table table-hover table-bordered">
                    {% if user.empleado.cargo.nombre == 'Administrador del Sistema' or user.is_staff or user.is_superuser %}
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mar in marcas %}
                                <tr>
                                    <td> {{ mar.nombre }} </td>
                                    <td>
                                        <a href="{% url 'update_marca' pk=mar.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-clockwise"> Editar</i></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_marca' pk=mar.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-ban"> Eliminar</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mar in marcas %}
                                <tr>
                                    <td> {{ mar.nombre }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
			</div><div class="col-6">
                <h3 class="text-center text-decoration-underline">Listado de Categorias:</h3>
                <table class="table table-hover table-bordered">
                    {% if user.empleado.cargo.nombre == 'Administrador del Sistema' or user.is_staff or user.is_superuser %}
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in categorias %}
                                <tr>
                                    <td> {{ cat.nombre }} </td>
                                    <td>
                                        <a href="{% url 'update_categoria' pk=cat.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-clockwise"> Editar</i></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_categoria' pk=cat.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-ban"> Eliminar</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in categorias %}
                                <tr>
                                    <td> {{ cat.nombre }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
			</div>
		</div>
        <div class="row">
            <div class="col">
                <div class="mb-1">
                    {% if user.empleado.cargo.nombre == 'Administrador del Sistema' or user.is_staff or user.is_superuser %}
                        <a href="{% url 'created_marca' %}" class="btn btn-personalizado color-text"><i class="bi bi-person-fill-add"> Añadir Marca</i></a>
                        <a href="{% url 'created_categoria' %}" class="btn btn-personalizado color-text"><i class="bi bi-person-fill-add"> Añadir Categoria</i></a>
                    {% endif %}
                    <a href="{% url 'almacen' %}" class="btn btn-personalizado color-text"><i class="bi bi bi-arrow-return-left"> Volver</i></a>
                </div>
            </div>
        </div>
	</div>
{% endblock %}