{% extends 'base.html' %}
{% block title %} Detalles Productos {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center text-decoration-underline">Detalles del Producto</h1>
            <div class="col-2">
                {% if user.empleado.cargo.nombre == 'Administrador del Sistema' or user.is_staff or user.is_superuser %}
                    <a href="{% url 'update_products' pk=producto.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-clockwise"> Editar</i></a>
                    <br><br>
                    <a href="{% url 'delete_products' pk=producto.pk %}" class="btn btn-personalizado color-text"><i class="bi bi-ban"> Eliminar</i></a>
                {% endif %}
                <br><br>
                <a href="{% url 'listado_products' %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-left-circle"> Volver</i></a>
                </div>
            <div class="col-10">
                <article>
                    <p><strong>Nombre: </strong> {{ producto.nombre }} </p>
                    <p><strong>Descripcion: </strong> {{ producto.descripcion }}</p>
                    <p><strong>Precio: </strong> {{ producto.precio }} €</p>
                    {% if producto.muestra %}
                        <img src="{{ producto.muestra.url }}" alt="">
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}