{% extends 'base.html' %}
{% block title %} Eliminar Marca {% endblock %}
{% block content %}
    <h1>Eliminar marca</h1>
    <form method="post">
        {% csrf_token %}
        <p>¿Quieres eliminar esta marca "{{object}}"?</p>
        {{ form }}
        <button type="submit" value="Confirm" class="btn btn-personalizado color-text">Marca Eliminado</button>
    </form>
    <a href="{% url 'listadoMarcaYCategoria' %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-left-circle"> Volver</i></a>
{% endblock %}