{% for prods in productos %}
    <div class="col">
        <div class="card card-personalizado">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if prods.muestra %}
                        <img src="{{ prods.muestra.url }}" class="card-img-top" alt="{{ prods.nombre }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 id="products-name" class="card-title">
                            <a href="{% url 'details_productsComprar' pk=prods.pk %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">{{ prods.nombre }}</a>
                        </h5>
                        <p id="products-price" class="card-text card-text-personalizado">{{ prods.precio }} €</p>
                        <div class="text-end">
                            <button class="addCart btn btn-personalizado color-text" data-name="{{ prods.nombre }}" data-price="{{ prods.precio }}">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}