{% extends 'base.html' %}
{% block title %} Cambiar Contraseña {% endblock %}
{% block content %}
	<div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="mt-4">Cambiar Contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Cambiar Contraseña</button>
                </form>
                <a href="{% url 'perfil' pk=user.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-circle">Volver</i></a>
            </div>
        </div>
    </div>
{% endblock %}