{% extends 'base.html' %}
{% block title %} Sistema de Almacenamiento {% endblock %}
{% block content %}
	<div class="container-fluids">
		<div class="row">
			<div class="col">
				<h3 class="text-center text-decoration-underline">Gestión del Almacen</h3>
				<div class="grid gap-3 justify-content-center">
					<div class="p-2 g-col-6 text-center">
						<a href="{% url 'listado_products' %}" class="btn btn-personalizado color-text"><i class="bi bi-bag"> Gestor de Productos</i></a>
						{% if user.empleado.cargo.nombre == 'Gerente de Compras' or user.is_staff or user.is_superuser%}
							<a href="{% url 'listProductsPeds' %}" class="btn btn-personalizado color-text"><i class="bi bi-box-seam"> Gestor de Pedidos</i></a>
						{% endif %}
					</div>
					<div class="p-2 g-col-6 text-center">
						<a href="{% url 'listadoMarcaYCategoria' %}" class="btn btn-personalizado color-text"><i class="bi bi-file-person"> Listado de Marca Y Categoria</i></a>
						<a href="{% url 'listProveedor' %}" class="btn btn-personalizado color-text"><i class="bi bi-file-person"> Listado de Proveedores</i></a>
					</div>
					
					{% if user.empleado.cargo.nombre == 'Analista de Datos' or user.is_staff or user.is_superuser%}
						<div class="accordion p-2 g-col-6" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Listados de Informes
									</button>
								</h2>
								
								<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<a href="{% url 'informePedido' %}" class="btn btn-personalizado color-text"><i class="bi bi-box-seam"> Informe Pedidos</i></a>
										<a href="{% url 'informeProdsMasPeds' %}" class="btn btn-personalizado color-text"><i class="bi bi-bag"> Producto más Pedido</i></a>
										<a href="{% url 'informeUsuarioActivo' %}" class="btn btn-personalizado color-text"><i class="bi bi-person"> Informe de Usuario</i></a>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}