{% extends 'base.html' %}
{% block title %} Registro de Usuarios {% endblock %}
{% block content %}
    <div class="container mt-2 gradient-custom py-5">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <h2 class="fw-bold mb-5 text-center text-white">Regístrate ahora</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_first_name" class="form-label text-white">Nombre:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_last_name" class="form-label text-white">Apellido:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_username" class="form-label text-white">Nombre de usuario:</label>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_email" class="form-label text-white">Correo electrónico:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_password1" class="form-label text-white">Contraseña:</label>
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="id_password2" class="form-label text-white">Confirmar contraseña:</label>
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_user_type" class="form-label text-white">Tipo de usuario:</label>
                        {{ form.user_type }}
                    </div>
                    <br>
                    <div id="empleado_fields" style="display: none;">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="id_dni" class="form-label text-white">DNI:</label>
                                    {{ form.dni }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="id_direccion" class="form-label text-white">Dirección:</label>
                                    {{ form.direccion }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="id_telefono" class="form-label text-white">Teléfono:</label>
                                    {{ form.telefono }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-group">
                                    <label for="id_cargo" class="form-label text-white">Cargo:</label>
                                    {{ form.cargo }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_profile_image" class="form-label text-white">Imagen de perfil:</label>
                            {{ form.profile_image }}
                        </div>
                        
                    </div>
                    <div id="cliente_fields" style="display: none;">
                        <div class="form-group">
                            <label for="id_tipo_pago" class="form-label text-white">Tipo de pago:</label>
                            {{ form.tipo_pago }}
                        </div>

                        <div class="form-group">
                            <label for="id_profile_image" class="form-label text-white">Imagen de perfil:</label>
                            {{ form.profile_image }}
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-personalizado color-text">Registrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}