{% extends 'base.html' %}
{% block title %} Registration Successful {% endblock %}
{% block content %}
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col">
                <h1>Registro Exitoso</h1>
                <p>Has sido registrado exitosamente. Serás redirigido a la página principal en breve.</p>
            </div>
        </div>
    </div>
    
    <script>
        // Redirigir a la página principal después de 3 segundos
        setTimeout(function() {
            window.location.href = '/';
        }, 3000);  // 3000 milisegundos = 3 segundos
    </script>
{% endblock %}