{% extends 'base.html' %}
{% block title %} Informes de Productos {% endblock %}
{% block content %}
	<div class="container-fluids">
		<div class="row">
			<h2 class="text-center text-decoration-underline">Informes de Producto más pedido:</h2>
			<div class="col-2">
                <a href="{% url 'informes' %}" class="btn btn-personalizado color-text"><i class="bi bi-arrow-return-left"> Volver</i></a>
			</div>
            <div class="col-10">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Cantidad Actual</th>
                            <th scope="col">Total Pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for prods in productosMasPeds %}
                                <tr>
                                    <td>{{ prods.nombre }}</td>
                                    <td>{{ prods.cantidad }}</td>
                                    <td>{{ prods.total_pedido }}</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	</div>
{% endblock %}