.feedback-solicitudPeds, .feedback-solicitudNoPeds {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: gray;
    color: white;
    padding: 15px;
    border-radius: 10px;
    animation: slide-in 0.5s ease-out forwards;
    display: none; /* Inicialmente oculto */
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}