@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;
    /* background-color: #638ECB !important; */
    background-image: url(../img/background.png) !important;
    background-size: cover; /* Esto hará que la imagen se ajuste para cubrir todo el área del contenedor */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-attachment: fixed;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

/* Estilos de las cartas. */
.card-personalizado{
    /* background-color: rgba(255, 255, 255, 0.834) !important;  */
    border: none !important;
    max-width: 20rem;
}

.card-text-personalizado{
    color: black;
}

/* Estilos de Encanbezado. */
.bg-personalizado{
    background: linear-gradient(to right, #395886, #586d8c);
}

@media (max-width: 768px) {
    .navbar-collapse {
        text-align: center !important;
    }

    .navbar-nav {
        flex-direction: column !important;
    }

    .navbar-nav .nav-item {
        margin: 0.5rem 0 !important;
    }

    .navbar-text {
        margin-top: 1rem !important;
        width: 100% !important;
        text-align: center !important;
    }

    .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        text-align: left !important;
    }

    .dropdown-menu::before {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

/* Estilos de botones. */
.btn-personalizado{
    /* background-color: #B1C9EF !important; */
    background-color: #8AAEE0 !important;
    border: black !important;
}

.btn-personalizado:hover{
    /* background-color: #B1C9EF !important; */
    background-color: #D5DEEF !important;
}

.btn-custom{
    background-color: #8AAEE0 !important;
    border: white !important;
    right: 15px !important;
    bottom: 15px !important;
    z-index: 99999 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px !important;
    position: fixed !important;
    color: white !important;
}

.btn-custom:hover{
    background-color: #D5DEEF !important;
}

/* Otros estilos. */
.color-text{
    color: white !important;
}